.my-obs-table {
  margin-top: 5vh;
  border-collapse: collapse;
  border: 3px solid #ddd;
}

.my-obs-table td,
.my-obs-table th {
  border: 1px solid #ddd;
  padding: 0.2rem;
}

.my-obs-table th {
  padding: 10px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

.action-btn {
  cursor: pointer;
  background-color: white;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 0.3rem 0.5rem;
  margin: 0 0.3rem;
}

.action-btn:hover {
  background-color: #4caf50;
}
