.main-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.central-content {
  display: flex;
  justify-content: space-between;
}

.input-wrapper {
  position: relative;
  margin-top: 3vh;
}

.input-search {
  display: flex;
  justify-content: center;
}

.input-search {
  width: 35vw;
  height: 6vh;
  border-radius: 0.5rem;
  font-size: 1.3rem;
}
.input-search:focus {
  border: 1px solid #4caf50;
  box-shadow: none;
}

.input-icon {
  position: absolute;
  right: 1.3rem;
  top: 0.6rem;
  font-size: 1.5rem;
  color: lightgrey;
  cursor: pointer;
}

.obs-table {
  margin-top: 2rem;
  border-collapse: collapse;
  border: 3px solid #ddd;
  height: fit-content;
}

.obs-table td,
.obs-table th {
  border: 1px solid #ddd;
  padding: 0.2rem;
}

.obs-table th {
  padding: 10px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}
